@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 100vw;
}

.position_elements {
    padding-top: 10vh;
    padding-left: 17.5vw;
}

/* ***** Form Start  ***** */

form h2 {
    padding-bottom: 15px;
    font-size: 2em;
    font-weight: 400;
    color: #926AA5;
}

form label {
    font-size: 18px;
    color: #5C5C5C;
}

/* ***** Form End  ***** */

/* ***** Fieldset Start ***** */

fieldset {
    width: 76vw;
    border-radius: 10px;
    padding: 1.2em;
    border: none;
    border: 1px solid #5C5C5C;
    margin-bottom: 2vh;
}

fieldset h3 {
    font-size: 24px;
    font-weight: 300;
    color: #926AA5;
    padding-bottom: 10px;
}

input::placeholder {
    color: #BBBBBB;
}

/* ***** Fieldset End ***** */