@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ***** Header Start ***** */

header {
    position: fixed;
    background: #fff;
    margin-top: -10px;
    width: 100%;
    height: 115px;
}

.left img {
    margin: 0;
    width: 125px;
    height: 125px;
    margin-left: 40px;
    padding-right: 85px;
    border-right: 1px solid #B5B3B3;
}

.sair {
    padding: 5px;
    background: #D88CCA;
    text-decoration: none;
    float: right;
    margin-top: -85px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    transform: 0.5s;
    width: 40px;
    text-align: center;
}

.sair:hover {
    background: rgb(209, 54, 186);
}

/* ***** Header End ***** */

/* ***** Sidebar Start ***** */

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 105px;
    padding-top: 30px;
    left: 0;
    background: #fff;
    border-right: 1px solid #B5B3B3;
}

.sidebar h2 {
    padding-left: 25px;
    color: #B5B3B3;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sidebar a {
    color: #5C5C5C;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 25px;
    box-sizing: border-box;
}

.sidebar a:hover {
    color: #fff;
    background: rgb(255, 99, 232);
}

.sidebar ion-icon {
    padding-right: 10px;
}

/* ***** Sidebar End ***** */