/* ***** addProduct button Start ***** */

.add button {
    border: none;
    color: #fff;
    padding: 7px 15px;
    margin-top: 3vh;
    margin-right: 2vw;
    background: #D88CCA;
    border-radius: 5px;
    float: right;
}

.add button:hover {
    background: #926AA5;
}

.add a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

/* ***** addProduct button End ***** */

/* **** Search and filter Start **** */

.searchProduct {
    width: 75vw;
    height: 40px;
}

.searchProduct input {
    width: 70.5vw;
    height: 50px;
    float: left;
    font-family: 'Arial';
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    padding-left: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 1.5vh;
    border: none;
    border: 1px solid #5C5C5C;
    cursor: pointer;
}

.btn {
    width: 40px;
    height: 40px;
    background-color: #926AA5;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    margin-top: 0.5vh;
    margin-bottom: 1.5vh;
    cursor: pointer;
}

#action_and_ordenation {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 60px;
}

#action_and_ordenation select {
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
    padding-left: 10px;
    height: 50px;
    font-size: 1.1em;
    color: #926AA5;
    cursor: pointer;
}

#all_action {
    width: 37vw;
}

#ordenation_product {
    width: 34vw;
}

/* **** Search and filter End **** */

/* **** List product Start **** */



/* **** List product End **** */