<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar novos produtos | Krosa</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div id="container">
            <!-- Main Start -->
            <main>
                <!-- Sidebar Start -->
                <div id="sidebar">
                    <img src="img/logoKrosa.png" alt="Logo da loja Krosa">
                    
                    <h2>Administrador</h2>
                        
                    <a href=""><ion-icon name="bar-chart-outline"></ion-icon>Estatisticas</a>
                    <a href=""><ion-icon name="cash-outline"></ion-icon>Vendas</a>
                    <a href=""><ion-icon name="pricetags-outline"></ion-icon>Produtos</a>
                    <a href=""><ion-icon name="people-outline"></ion-icon>Clientes</a>
                    <a href=""><ion-icon name="settings-outline"></ion-icon>Configurações</a> 
                </div>
                <a href="" class="exit"><button>Sair</button></a>
                <!-- Sidebar End -->

            <!-- Form Start -->
            <div id="form">
                <h2>Adicionar produto</h2>
        
                <div class="nameAndDescription">
                    <h3>Nome e Descrição</h3>

                    <label for="name">Nome</label> <br>
                    <input class="name" type="text" name="name" id="name" placeholder="Ex: Camisa azul com mangas">
                </div>
            </div>
            <!-- Form End -->
            </main>
            <!-- Main End -->
        </div>

        <!-- Script de Icons do ionicons -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>