<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=title %> | Krosa</title>
        <link rel="stylesheet" href="../css/addstyle.css">
        <link rel="stylesheet" href="../css/sidebarAdminStyle.css">
    </head>

    <body>
        <div id="container">
            <!-- Main Start -->
            <main>
                <!-- Sidebar Start -->
                <div id="sidebar">
                    <img src="../img/logoKrosa.png" alt="Logo da loja Krosa">
                    
                    <h2>Administrador</h2>
                        
                    <a href=""><ion-icon name="bar-chart-outline"></ion-icon>Estatisticas</a>
                    <a href=""><ion-icon name="cash-outline"></ion-icon>Vendas</a>
                    <a href=""><ion-icon name="pricetags-outline"></ion-icon>Produtos</a>
                    <a href=""><ion-icon name="people-outline"></ion-icon>Clientes</a>
                    <a href="" id="setting"><ion-icon name="settings-outline"></ion-icon>Configurações</a> 
                </div>
                <a href="" class="exit"><button type="button">Sair</button></a>
                <!-- Sidebar End -->

                <!-- Form Start -->
                <form>
                    <h2><%=title %></h2>
            
                    <!-- Name and description Start -->
                    <fieldset class="nameAndDescription">
                        <h3>Nome e Descrição</h3>

                        <div class="name">
                            <label for="name">Nome</label> <br>
                            <input type="text" name="name" id="name" placeholder="Ex: Camisa azul com mangas">
                        </div>

                        <div class="description">
                            <label for="description">Descrição</label> <br>
                            <textarea name="description" id="description"></textarea>
                        </div>

                        <div class="tags">
                            <label for="tags">Tags</label> <br>
                            <select name="tags" id="tags">
                                <option value="">Camisa</option>
                                <option value="">Calças</option>
                                <option value="">Jaqueta</option>
                                <option value="">Saia</option>
                                <option value="">Vestido</option>
                            </select>
                        </div>
                    </fieldset>
                    <!-- Name and description End -->

                    <!-- Photos Start -->
                    <fieldset>
                        <h3>Fotos</h3>

                        <div id="photo">
                            <div>
                                <div class="photoContainer">
                                    <img src="../img/camera.png" alt="Selecione uma imagem">
                                </div>
                            </div>
                            <input type="file" id="images" name="images" accept="image/*">
        
                            <div>
                                <div class="photoContainer">
                                    <img src="../img/camera.png" alt="Selecione uma imagem">
                                </div>
                            </div>
                            <input type="file" id="images" name="images" accept="image/*">
        
                            <div>
                                <div class="photoContainer">
                                    <img src="../img/camera.png" alt="Selecione uma imagem">
                                </div>
                            </div>
                            <input type="file" id="images" name="images" accept="image/*">
                        </div>
                    </fieldset>
                    <!-- Photos End -->

                    <!-- Price Start-->
                    <fieldset>
                        <h3>Preço</h3>

                        <div id="price">
                            <div>
                                <label for="realPrice">Preço original</label> <br>
                                <input type="number" name="realPrice" id="realPrice" placeholder="R$ 0,00">
                            </div>

                            <div>
                                <label for="realPrice">Preço promoção</label> <br>
                                <input type="number" name="realPrice" id="realPrice" placeholder="R$ 0,00">
                            </div>
                        </div>
                    </fieldset>
                    <!-- Price End-->

                    <!-- Weight and dimension Start -->
                    <fieldset>
                        <h3>Peso e dimensões</h3>

                        <div>
                            <label for="weight">Peso</label> <br>
                            <input type="number" id="weightStyle" name="weight" id="weight" placeholder="0,0000 Kg">
                        </div>

                        <div id="dimensionContainer">
                            <div>
                                <label for="length">Comprimento</label> <br>
                                <input type="number" name="length" id="length" placeholder="0,00 Cm">
                            </div>
    
                            <ion-icon name="close-outline"></ion-icon>

                            <div>
                                <label for="width">Largura</label> <br>
                                <input type="number" name="width" id="width" placeholder="0,00 Cm">
                            </div>
    
                            <ion-icon name="close-outline"></ion-icon>

                            <div>
                                <label for="height">Altura</label> <br>
                                <input type="number" name="height" id="height" placeholder="0,00 Cm">
                            </div>
                        </div>
                    </fieldset>
                    <!-- Weight and dimension End -->

                    <!-- Inventory Start -->
                    <fieldset>
                        <h3>Estoque</h3>

                        <div id="inventory">
                            <div>
                                <label for="quantity">Quantidade</label> <br>
                                <input type="number" name="quantity" id="quantity" placeholder="Ex: 5">
                            </div>
    
                            <div>
                                <label for="id">IDs</label> <br>
                                <input type="number" name="id" id="id">
                            </div>
                        </div>
                    </fieldset>
                    <!-- Inventory End -->

                    <button class="confirm" id="register" type="button"><%=confirm %></button>
                    <%if(remove == true) { %>
                        <button class="confirm" id="remove" type="button">Remover produto</button>
                    <% } %> 
                </form>
                <!-- Form End -->
            </main>
            <!-- Main End -->
        </div>

        <!-- Script de Icons do ionicons -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>