<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar novos produtos | Krosa</title>
        <link rel="stylesheet" href="css/estilo.css">
    </head>

    <body>
        <!-- Header Start -->
        <header>
            <div class="left">
                <img src="img/logoKrosa.png" alt="">
             </div>
    
             <div class="right">
                 <a href="#" class="sair">sair</a>
             </div>
        </header>
        <!-- Header End -->

        <!-- Sidebar Start -->
        <div class="sidebar">
            <h2>Administrador</h2>
            
            <a href=""><ion-icon name="bar-chart-outline"></ion-icon>Estatisticas</a>
            <a href=""><ion-icon name="cash-outline"></ion-icon>Vendas</a>
            <a href=""><ion-icon name="pricetags-outline"></ion-icon>Produtos</a>
            <a href=""><ion-icon name="people-outline"></ion-icon>Clientes</a>
            <a href=""><ion-icon name="settings-outline"></ion-icon>Configurações</a>
        </div>
        <!-- Sidebar End -->

        <!-- Script de Icons do ionicons -->
        <script type="modulre" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>