<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pagina Inicial</title>
</head>
<body>
    <h1>Adicionar produto</h1>

	<form action="/receive_product" method="post">
		Name: <input type="text" name="name"><br>
		Price: <input type="number" name="price"><br>
			<input type="submit" value="Send">
 	</form>
</body>
</html>